<head>

    <title>EJ2 Diagram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Typescript UI Controls">
    <meta name="author" content="Syncfusion">
    
    <script src="~/js/SyncJs/ej2.min.js"></script>

</head>
<h1>Create Room and Place Desks here</h1>

<div id="symbolpalette">
    
   <textarea id="jsontxt" cols="100" rows="6" placeholder="Json Code for the Diagram"></textarea>

   <br /><button onclick="saveDia()">Save</button>
   <button onclick="loadDia()">Load</button>
</div>

<div id="container">
    <div id="element"></div>
</div>
<script src="~/bm-template/myown/js/syn_fns.js"></script>